<!-- <mat-nav-list> -->

<p>
  Digital Cargo Securing Manual is a browser-based portal system, where you can view your vessel's class approved Cargo
  Securing Manuals and other related documents.
</p>
<p>
  The portal will utilize browser cache for offline capabilities, so please keep cache uncleaned.
</p>
<p>
  Few notes below:
</p>

<li>When the portal is connected to the web, latest documents will be uploaded automatically</li>
<li>The portal works offline; all files are accessible during long sea voyages.</li>
<li>Additionally, all documents are available for download; please store important files to a separate computer.</li>






<!-- </mat-nav-list> -->